* {
    margin: 0;
    
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../../assets/images/forest.png");
    background-position: top;
    background-size: cover;
    height: 100vh;
} 


.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 16px;
    font-size: 40px;
    background-color: rgba(141, 141, 141, 0.137);
    
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: max-content;
    height: max-content;
    
    border-radius: 10px;

}

.navigation {
    display: flex;
    flex-direction: row;
    gap: 45px;
    

    list-style: none;
    li {
        padding: 4px 12px;
        border-radius: 10px;
        a {
            font-size: 40px;
            text-decoration: none;
            color: rgb(0, 0, 0);
            
        }
    }
    
}

.anon {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
        width: 40px;
        height: 40px;
    }
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    padding: 10px;

    border-radius: 10px;

   
    
    h1 {
        text-align: center;
        font-size: 100px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(255, 255, 255);
        
    }
    p {
        text-align: center;
        font-size: 25px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color:rgb(255, 255, 255);

    }

  
}

.icons {
    display:flex;
    align-items:end;
    flex-direction: column;
    gap: 4px;
    padding: 20px;
}
.social-container {
    padding: 20px;
    position: relative;
    display: inline-block;
}
.social-toggle {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.main-icon {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s;
}
.main-icon.hover {
    transform: scale(1.1);
}
.main-icon::before {
    content: "+";
    color: white;
    font-size: 24px;
    font-weight: bold;
    transition: all 0.3s;
}
.socia-toggle:checked + .main-icon::before {
    content: "x";
    font-size: 24px;
}
.social-icons {
    position: absolute;
    bottom: 60px;
    left: 40px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0.1);
    margin-bottom: 10px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out;
}
.social-toggle:checked ~ .socal-icons {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}
.social-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s;
}
.social-icon:hover {
    transform: scale(1.2);
}
/* .btn {
        position: static;
        left: 500px;
        top: 500px;
        width: 100px;
        height: 30px;
        font-size: 13px;
        font-family: sans-serif;
        font-weight: 900;
        background-color: rgba(43, 59, 43, 0.548);
        border-radius: 7px;
        box-shadow: 5px 5px 10px 2px rgb(43, 85, 43) ;
    }
    .btn:hover {
        transition: transform 0.5s ease-in-out;
        transform: translateX(-70%);
        padding: 8px 16px;
        border: none;
        border-radius: 10px;
    } */
    .svg-icon {
    width: 150px;
    height: 50px;
    }
