* {
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../../assets/images/dog..avif");
    background-position: top;
    background-size: cover;
    height: 100vh;
} 


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    font-size: 40px;
    
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: max-content;
    height: max-content;
    
    border-radius: 10px;

    background-color: rgb(117, 158, 158);
}

.navigation {
    display: flex;
    flex-direction: row;
    gap: 45px;

    list-style: none;
    li {
        padding: 4px 12px;
        background-color: rgb(74, 110, 82);
        border-radius: 10px;
        a {
            text-decoration: none;
            color: rgb(136, 127, 197);
        }
    }
}
.welcome {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
    padding: 10px;
    width: 400px;
    border-radius: 10px;
    background-color: thistle;
    h1 {
        font-size: 40px;
        color: burlywood;
        text-decoration: underline;
    }
    p {
        font-size: 20px;
        color:rgb(192, 138, 236);;
    }
    button {
        
        font-size: 18px;
        color: rgb(192, 138, 236);
        padding: 8px 16px;
        border: none;
        border-radius: 10px;
    }
  
}

.icons {
    display: flex;
    align-items: end;
    flex-direction: column;
    gap: 4px;
}
.svg-icon {
    width: 75px;
    height: 75px;
}
